<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sky.report.client.ReportMapper">
  <select id="selectEmpCheckDetail" parameterType="map" resultType="java.util.Map">
	SELECT 
		(SELECT NAME FROM SYS_USER WHERE CODE = CD.CHECKER) AS CHECKER_NAME,
		(SELECT BCC.NAME  FROM BASE_COMMODITY BC,BASE_COM_CATE BCC WHERE BC.CODE=CD.COM_CODE AND BCC.CODE=BC.CATE_CODE) AS CATENAME,
		COUNT(1) AS TOTAL,
		COUNT(
			CASE WHEN CD.STATE='1' THEN 1
			ELSE NULL
			END) AS FINISH,
		ROUND(
			COUNT(
			CASE WHEN CD.STATE='1' THEN 1
			ELSE NULL
			END)/COUNT(1)*100,2) AS RATE
	FROM 
		BASE_CHECK_PLAN CP,
		BASE_CHECK_DETAIL CD
		WHERE CP.CODE=CD.PLAN_CODE
		AND CP.CODE=#{params.planCode,jdbcType=VARCHAR}
		AND CP.SHOP_CODE=#{params.shopCode,jdbcType=VARCHAR}
		GROUP BY CATENAME
  </select>
</mapper>